<% include ./partials/header %>

<h1 class="jumbotron">About</h1>
<p class="lead">FoodShare founded in 2019 is an online platform dedicated to sharing recipes, improving culinary skills and opening up the potential for new and exciting flavours.</p>


<% include ./partials/footer %>