<% include ./partials/header %>

<h1 class="jumbotron text-center">About</h1>
<p class="lead text-center">FoodShare founded in 2019 is an online platform dedicated to sharing recipes, improving culinary skills and opening up the potential for new and exciting flavours.</p>

<br>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="text-center" style="margin-bottom: 200px;">
        <h3 style="margin-top: 100px;">Testimonials and Reviews</h3>

        <p style="margin-top: 100px;">"...Thank you for the love in your food!" ~ Christina </p>

        <blockquote> "I want to tell you, your Ezekiel 4:9® Cinnamon Raisin Bread is so delicious and I love your spiritual approach too!" ~ Matt </blockquote>

        <blockquote>"I can't often write a fan letter about any prepared food today, but your 7 Sprouted Grains Bread is the major exception! It's the only bread I plan to eat for the rest of my life." ~ Shirley </blockquote>

        <blockquote>"I am writing just to "Thank You" for making such wonderful quality products. I especially love-love-love "Ezekiel 4:9® Sprouted 100% Whole Grain Bread", the taste is the best, it satisfies and as always no sugar/low sodium. Thank you again — from one grateful customer." ~ Kate </blockquote>

        <blockquote>"Just wanted you to know how much I enjoy your Ezekiel 4:9® Sprouted Grain Tortillas. I've been eating them for years." ~ Kim </blockquote>

        <blockquote>"Your Gluten Free breads truly make me feel lighter and uplifted." ~ Alex </blockquote>

    </div>
</div>
<!-- /.container -->


<% include ./partials/footer %>